<hr>
<section class="about-us">
  <div class="container">
    <div class="row">
      <div class="col-md-6 justify-content-between">
        <h2>About Us</h2>
        <p>
          Kamla Nehru Institute of Technology (KNIT Sultanpur) was established as the Faculty of Technology in 1976 by
          Kamla Nehru Memorial Trust. It was taken by the government of Uttar Pradesh in 1979 and renamed as the Kamala
          Nehru Institute of Technology in 1983.
        </p>
        <p>
          KNIT is an autonomous co-education government engineering college. The
          institute is spread over a campus size of 56 acres. KNIT Sultanpur has a total faculty size of 51 members and
          2,034 students. KNIT Sultanpur is affiliated to Dr. APJ Abdul Kalam Technical University, Lucknow.
        </p>
      </div>
      <div class="col-md-6">
        <img
          src="https://www.careerindia.com/college-photos/520x380/3355/kamla-nehru-institute-of-technology_1461319491.jpg"
          alt="About Us" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
<hr>
<section class="tpc-members">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Training and Placement Cell</h2>
        The experieced faculty of the Univeristy looks after the training &
        placement cell to provide the best exposure to its students.
        <div class="row my-5">
          <div class="col-sm-6">
            <div class="card">
              <img src="https://www.knit.ac.in/images/director.jpg" class="rounded-circle mx-auto d-block"
                alt="Director" />
              <div class="card-body text-center">
                <h5 class="card-title">Prof. K. S. Verma</h5>
                <p class="card-text">Director KNIT, Sultanpur</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="card">
              <img
                src="https://knit.ac.in/site/writereaddata/siteContent/202301121321073866202108281223131033samir-srivastava_280821%20-%20Copy%201.jpg"
                class="rounded-circle mx-auto d-block" alt="TPC Head" />
              <div class="card-body text-center">
                <h5 class="card-title">Prof. Samir Srivastav</h5>
                <p class="card-text">TPC Head KNIT, Sultanpur</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Mark Smith</h4>
              <p>Training Coordinator</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Sarah Johnson</h4>
              <p>Placement Coordinator</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>David Lee</h4>
              <p>Industry Relations Coordinator</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Karen Wong</h4>
              <p>Training and Placement Officer</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Michael Johnson</h4>
              <p>Placement Officer</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Jason Lee</h4>
              <p>Industry Relations Officer</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Julia Chen</h4>
              <p>Training Officer</p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="tpc-member">
              <h4>Steve Davis</h4>
              <p>Industry Relations Officer</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr>
<section class="partners">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Training and Recruiting Partners</h2>
        <ul class="partners-list">
          <li><img
              src="https://img.etimg.com/thumb/msid-77301766,width-1200,height-900,imgsize-62381,overlay-economictimes/photo.jpg"
              alt="Company 1" height="50px" width="80px" /></li>
          <li><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5dOIp9FBf74Uqfio0f3mUjByaDmM4AnOF1IvhoE4vWpH6UvPv5-ndEypOSyolCbTWbw&usqp=CAU"
              alt="Company 2" height="50px" width="80px" /></li>
          <li><img
              src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRDp5QdH3UQ9sqIjYdDeYsBvn41HdJjxJ9TwQB9k9JJcQLcMiCRzLtEofbCTdBpQMwgQ&usqp=CAU"
              alt="Company 3" height="50px" width="80px" /></li>
          <li><img src="https://partner.visa.com/content/dam/gpp/partner-directory/Juspay%20Logo.png" alt="Company 4"
              height="50px" width="80px" /></li>
          <li><img src="https://www.goldmansachs.com/a/pgs/images/logo.png" alt="Company 5" height="50px"
              width="80px" /></li>
          <li><img src="https://media.geeksforgeeks.org/wp-content/uploads/e95b51d6ff3d85c76bca8578030e9bad.png"
              alt="Company 6" height="50px" width="80px" /></li>
          <li><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/95/Infosys_logo.svg/1280px-Infosys_logo.svg.png"
              alt="Company 7" height="50px" width="80px" /></li>
          <li><img
              src="https://akm-img-a-in.tosshub.com/businesstoday/images/story/202106/tcs_logo_1200_020621101143.jpg?size=1200:675"
              alt="Company 8" height="50px" width="80px" /></li>
          <li><img src="https://broadcastprome.com/wp-content/uploads/2019/05/imresizer.com_.jpg" alt="Company 9"
              height="50px" width="80px" /></li>
          <li><img
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/06/Ittiam_logo_light_bg.svg/1200px-Ittiam_logo_light_bg.svg.png"
              alt="Company 10" height="50px" width="80px" /></li>
        </ul>
        <p class="justify-content-end">and more...</p>
      </div>
    </div>
  </div>
</section>
<hr>
<footer class="text-center">
  
    <div class="row justify-content-center">

      <div class="col-md-7">
        <h4>Contact Us</h4>

        <p>Sultanpur - Kadipur Road,</p>
        <p>Uttar Pradesh 228118</p>
        <p>Phone: 05362 240 454</p>
        <p>Email: tpo@knit.ac.in,</p>
      </div>
    </div>
    <div class="bottom-bar">
      <div class="">
        <p>&copy; 2023 Training and Placement. All Rights Reserved.</p>
      </div>
    </div>

</footer>