footer {
  background-color: #f5f5f5;
  padding: 50px 0;
  font-size: 16px;
}

footer h4 {
  font-weight: bold;
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 20px;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons a {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  background-color: #3b5998;
  color: #fff;
}

.social-icons a:hover {
  background-color: #2d4373;
}

.bottom-bar {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  font-size: 12px;
}

.bottom-bar p {
  margin: 0;
  text-align: center;
}
.about-us {
  padding: 100px 0;
}

.about-us h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.about-us p {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-us img {
  max-width: 100%;
  height: auto;
}

.tpc-members {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.partners {
  background-color: #f9f9f9;
  padding: 50px 0;
  text-align: center;
}

.partners h2 {
  margin-bottom: 30px;
}

.partners p {
  font-size: 18px;
  margin-bottom: 30px;
}

.partners-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.partners-list li {
  font-size: 16px;
  margin: 10px;
}

nav {
  background-color: #333;
  color: hwb(0 82% 18%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: auto;
  margin-left: 3em;
}

nav ul li a {
  color: #c0bebe;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  background-color: #555;
  text-decoration: none;
  color: #ffffff;
}

nav img {
  height: 50px;
  width: 50px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: auto;
  margin-left: 3em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.login-btn,
.register-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn:hover,
.register-btn:hover {
  background-color: #3e8e41;
}

.card img {
  height: 200px;
  width: 200px;
}
.carousel {
  width: 100%;
  margin: 0 auto;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 87%;
}

.carousel-item {
  position: relative;
  display: none;
  overflow: hidden;
  width: 100%;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: #fff;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-indent: -9999px;
  cursor: pointer;
}

.carousel-control-prev-icon {
  background-image: url("prev-icon.png");
}

.carousel-control-next-icon {
  background-image: url("next-icon.png");
}
